
body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  color: white;
  background: url(hatter.jpg) ;
  background-size: contain;
  font-family: Geneva, sans-serif;
}
h1 span a{
  color: cyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}
h1{
  font-style: oblique
}
h2{
  font-style: oblique;
}
h3{
  font-style: oblique;
}
#tartalom span a{
  color: cyan;
}

#tartalom {
  background-color: rgba(4, 42, 63, 0.8);
  margin-bottom: 20px;
  padding: 40px;
  width: 900px;
  margin: 20px auto;
}

.keret {
  padding: 0px 25px 0px 25px;
  margin: 10px 20px;
  max-width: 800px;
  
}

.kepalairas {
  font-size: 1.3em;
  margin: 0;
  font-style: italic;
  text-align: center;
  line-height: 130%;
}

table {
  background-color: rgba(227, 225, 233, 0.3);
  border: 3px solid rgb(58, 189, 201);
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: rgba(58, 189, 201, 0.6);
  color: white;
}

th,
td {
  border: 1px solid rgb(58, 189, 201);
  padding: 5px;
}
a{
  color: rgb(58, 189, 201);
}
a:hover{
  color: yellow;
}
p{
  text-indent: 20px;
}

